body {
    font-family: Cambria, sans-serif;
  }
  header {
    background-image: url("./images/golf2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
  }
  header h1 {
    color: white;
    text-align: center;
    padding: 10px;
  }
  nav {
    background: #9DC46A;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  nav a {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  a {
    color: green;
    text-decoration: none;
  }
  a:hover {
    color: darkgreen;
    text-decoration: none;
  }
  h5{
    color: darkgreen;
  }
  footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray;
    width: 100%;
    background: #9DC46A;
    text-align:center;
    font-style:italic
  }
  